[defaults]
# General settings
nocows                      = True
executable                  = /bin/bash
stdout_callback             = yaml
force_valid_group_names     = ignore
# File/Directory settings
log_path                    = ~/.ansible/ansible.log
inventory                   = ./ansible/inventory
roles_path                  = ~/.ansible/roles:./ansible/roles
collections_path            = ~/.ansible/collections
remote_tmp                  = /tmp
local_tmp                   = ~/.ansible/tmp
# Fact Caching settings
fact_caching                = jsonfile
fact_caching_connection     = ~/Library/Mobile Documents/com~apple~CloudDocs/Dateien/Allgemein/ansible/facts_cache
# SSH settings
remote_port                 = 22
timeout                     = 60
host_key_checking           = False