---
# Finder Configuration
# This file contains all Finder-related tasks including view settings, icons, and sidebar

- name: Arrange Files by Kind
  ansible.builtin.shell: |
    /usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:arrangeBy kind" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
    /usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy kind" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
  become: false
  changed_when: true

- name: Set the Grid Spacing for Files
  ansible.builtin.shell: |
    /usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:gridSpacing 54" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
    /usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:gridSpacing 30" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
  become: false
  changed_when: true

- name: Use Smaller Icons
  ansible.builtin.shell: |
    /usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:iconSize 48" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
    /usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:iconSize 64" {{ myhomedir }}/Library/Preferences/com.apple.finder.plist
  become: false
  changed_when: true

- name: Unhide ~/Library
  ansible.builtin.command: "chflags nohidden {{ myhomedir }}/Library"
  become: false
  changed_when: true

- name: Unhide /Volumes
  ansible.builtin.command: chflags nohidden /Volumes
  changed_when: false
  become: true

- name: Add Pictures folder to sidebar
  ansible.builtin.shell: "mysides add Bilder file://$HOME/Pictures/"
  become: false
  changed_when: true
  failed_when: false  # OK if already exists
