---
- name: Check if iCloudDrive is mounted
  ansible.builtin.stat:
    path: "{{myhomedir}}/iCloudDrive"
  register: icloud_mounted

- name: Copy business apps from iCloudDrive
  ansible.builtin.copy:
    src: "{{myhomedir}}/iCloudDrive/Allgemein/apps/{{ business_app }}"
    dest: "/Applications/"
    mode: 0755  # Apps need execute permission
    remote_src: "true"
  become: false
  loop:
    - "Open Umb.app"
    - "Vertec.app"
  loop_control:
    loop_var: business_app
  when:
    - icloud_mounted.stat.exists
    - icloud_mounted.stat.isdir

# https://www.jamf.com/jamf-nation/discussions/12302/active-directory-q-a
- name: Set DSBindTimeout to 4
  shell: "/usr/bin/defaults write /Library/Preferences/com.apple.loginwindow DSBindTimeout -int 4"
  become: true
  changed_when: true

- name: Install Teams backgrounds
  ansible.builtin.copy:
    src: "{{myhomedir}}/iCloudDrive/Multimedia/Backgounds/Teams/"
    dest: "~/Library/Application Support/Microsoft/Teams/Backgrounds/Uploads/"
    mode: 0640
    remote_src: "true"
  become: false
  when:
    - icloud_mounted.stat.exists
    - icloud_mounted.stat.isdir
