---

- name: Clone repositories
  block:
    - name: Query GitHub API for my repositories
      ansible.builtin.uri:
        url: "https://api.github.com/search/repositories?q=user:{{ github_user }}+archived:false+fork:true"
        headers:
          Authorization: "token {{ github_personal_token }}"
        status_code: [200, 403]  # 403 = Rate limit
      register: github_repos
      no_log: true  # Protect token in logs
      until: github_repos.status != 403
      retries: 3
      delay: 60
    - name: Create Git project directories
      ansible.builtin.file:
        path: "{{ myhomedir }}/development/github/{{ github_user }}/{{ repo['name'] }}"
        state: directory
        mode: 0750
      loop: "{{ github_repos['json']['items'] }}"
      loop_control:
        loop_var: repo
        label: "{{ repo['name'] }}"
    - name: Clone my GitHub repositories
      ansible.builtin.git:
        repo: "{{ repo['clone_url'] }}"  # Use HTTPS URL directly
        version: "{{ repo['default_branch'] }}"
        dest: "{{ myhomedir }}/development/github/{{ github_user }}/{{ repo['name'] }}"
        accept_hostkey: true
        update: false
      environment:
        GIT_ASKPASS: "/bin/echo"
        GIT_USERNAME: "{{ github_user }}"
        GIT_PASSWORD: "{{ github_personal_token }}"
      loop: "{{ github_repos['json']['items'] }}"
      loop_control:
        loop_var: repo
        label: "{{ repo['name'] }}"
      no_log: true  # Protect token from appearing in logs
      ignore_errors: true  # Allow cloning to fail for individual repos (e.g., private repos)
    - name: Update remote origin to SSH url
      community.general.git_config:
        repo: "{{ myhomedir }}/development/github/{{ github_user }}/{{ repo['name'] }}"
        scope: local
        name: remote.origin.url
        value: "{{ repo['ssh_url'] }}"
      loop: "{{ github_repos['json']['items'] }}"
      loop_control:
        loop_var: repo
        label: "{{ repo['name'] }}"
      ignore_errors: true  # Ignore errors if repo wasn't cloned
  tags: github_repos
  become: false

# - name: Clone reference Git repositories
#   ansible.builtin.git:
#     repo: "{{ item['https_url'] }}"
#     dest: "{{ myhomedir }}/Development/Reference/{{ item['name'] }}"
#     depth: '1'
#     version: "{{ item['version'] | default('master') }}"
#   loop: "{{ git_reference_repos }}"
#   loop_control:
#     label: "{{ item['name'] }}"
#   tags: [github_repos, git_ref_repos]
