---
- name: Set NetBios hostname
  ansible.builtin.shell: "defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ myhostname }}"
  become: true
  changed_when: true
